language: java
matrix:
  include:
    - os: linux
      dist: trusty
      addons:
        apt:
          sources:
          - r-packages-trusty
          packages:
          - r-base-core
    - os: osx
      osx_image: xcode8.3
before_install:
  #- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update          ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then rm -f '/usr/local/include/c++'; brew install r; fi
before_script:
  - if [[ ! "$TRAVIS_OS_NAME" == "osx" ]]; then export DISPLAY=:99.0; fi
  - if [[ ! "$TRAVIS_OS_NAME" == "osx" ]]; then sh -e /etc/init.d/xvfb start; sleep 3 ; fi
install: mvn install -DskipTests=true -Dgpg.skip=true
script: mvn clean test cobertura:cobertura
after_success:
- bash <(curl -s https://codecov.io/bash)
