name: Java CI with Maven

on:
  push:
    branches: [ '*' ]
    tags: [ '*.*' ]
  pull_request:
    branches: [ java21 ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [11, 21]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up GraalVM
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: ${{ matrix.java }}
        distribution: 'graalvm'
        components: 'js'
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - run: mvn -B compile -DskipTests=true --file pom.xml

  test:
    name: Test ${{ matrix.rsession_instance }} (Java ${{ matrix.java }}, ${{ matrix.os }}${{ matrix.r && format(', R {0}', matrix.r) || '' }})
    strategy:
      fail-fast: false
      matrix:
        # Define all combinations explicitly
        include:
          # R2js tests (OS x Java) - no R version needed
          - os: ubuntu-latest
            java: 11
            rsession_instance: R2js
          - os: ubuntu-latest
            java: 21
            rsession_instance: R2js
          - os: windows-latest
            java: 11
            rsession_instance: R2js
          - os: windows-latest
            java: 21
            rsession_instance: R2js
          - os: macOS-latest
            java: 11
            rsession_instance: R2js
          - os: macOS-latest
            java: 21
            rsession_instance: R2js

          # Renjin tests (OS x Java) - no R version needed
          - os: ubuntu-latest
            java: 11
            rsession_instance: Renjin
          - os: ubuntu-latest
            java: 21
            rsession_instance: Renjin
          - os: windows-latest
            java: 11
            rsession_instance: Renjin
          - os: windows-latest
            java: 21
            rsession_instance: Renjin
          - os: macOS-latest
            java: 11
            rsession_instance: Renjin
          - os: macOS-latest
            java: 21
            rsession_instance: Renjin

          # Rserve tests (OS x Java x R) - R version is meaningful
          - os: ubuntu-latest
            java: 11
            rsession_instance: Rserve
            r: "3.6"
          - os: ubuntu-latest
            java: 11
            rsession_instance: Rserve
            r: oldrel
          - os: ubuntu-latest
            java: 11
            rsession_instance: Rserve
            r: release
          - os: ubuntu-latest
            java: 11
            rsession_instance: Rserve
            r: next
          - os: ubuntu-latest
            java: 21
            rsession_instance: Rserve
            r: "3.6"
          - os: ubuntu-latest
            java: 21
            rsession_instance: Rserve
            r: oldrel
          - os: ubuntu-latest
            java: 21
            rsession_instance: Rserve
            r: release
          - os: ubuntu-latest
            java: 21
            rsession_instance: Rserve
            r: next
          - os: windows-latest
            java: 11
            rsession_instance: Rserve
            r: "3.6"
          - os: windows-latest
            java: 11
            rsession_instance: Rserve
            r: oldrel
          - os: windows-latest
            java: 11
            rsession_instance: Rserve
            r: release
          - os: windows-latest
            java: 11
            rsession_instance: Rserve
            r: next
          - os: windows-latest
            java: 21
            rsession_instance: Rserve
            r: "3.6"
          - os: windows-latest
            java: 21
            rsession_instance: Rserve
            r: oldrel
          - os: windows-latest
            java: 21
            rsession_instance: Rserve
            r: release
          - os: windows-latest
            java: 21
            rsession_instance: Rserve
            r: next
          - os: macOS-latest
            java: 11
            rsession_instance: Rserve
            r: "3.6"
          - os: macOS-latest
            java: 11
            rsession_instance: Rserve
            r: oldrel
          - os: macOS-latest
            java: 11
            rsession_instance: Rserve
            r: release
          - os: macOS-latest
            java: 11
            rsession_instance: Rserve
            r: next
          - os: macOS-latest
            java: 21
            rsession_instance: Rserve
            r: "3.6"
          - os: macOS-latest
            java: 21
            rsession_instance: Rserve
            r: oldrel
          - os: macOS-latest
            java: 21
            rsession_instance: Rserve
            r: release
          - os: macOS-latest
            java: 21
            rsession_instance: Rserve
            r: next
    runs-on: ${{ matrix.os }}
    env:
      RSESSION_INSTANCE: ${{ matrix.rsession_instance }}
    steps:

    - uses: actions/checkout@v3

    # Set up GraalVM with JavaScript for R2js tests
    - name: Set up GraalVM (for R2js)
      if: matrix.rsession_instance == 'R2js'
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: ${{ matrix.java }}
        distribution: 'graalvm'
        components: 'js'
        github-token: ${{ secrets.GITHUB_TOKEN }}

    # Set up standard JDK for Renjin and Rserve tests
    - name: Set up JDK (for Renjin/Rserve)
      if: matrix.rsession_instance != 'R2js'
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'

    # Only setup R for Rserve tests
    - uses: r-lib/actions/setup-r@v2
      if: matrix.rsession_instance == 'Rserve'
      with:
        r-version: ${{ matrix.r }}

    - run: ln -s /Library/Frameworks/R.framework/Versions/3.6 /Library/Frameworks/R.framework/Versions/3.5
      if: matrix.os == 'macos-latest' && matrix.rsession_instance == 'Rserve' && matrix.r == '3.6'
    - run: sudo ln -s /opt/R/next /opt/R/4.4.0
      if: matrix.os == 'ubuntu-latest' && matrix.rsession_instance == 'Rserve' && matrix.r == 'next'

    - uses: coactions/setup-xvfb@v1
      with:
        run: mvn -B test --file pom.xml
      id: mvntest
      continue-on-error: true
#    - run: sudo apt-get install imagemagick x11-xserver-utils libxrandr2
#    - run: export DISPLAY=:0
#      if: matrix.os == 'ubuntu-latest' && steps.mvntest.outcome != 'success'
#    - uses: OrbitalOwen/desktop-screenshot-action@0.1
#      if: matrix.os == 'ubuntu-latest' && steps.mvntest.outcome != 'success'
#      with:
#        file-name: 'test-${{ matrix.os }}-${{ matrix.java }}.jpg'

    - uses: codecov/codecov-action@v1
    - if: steps.mvntest.outcome != 'success'
      run: exit 1
      
  release:
    strategy:
      fail-fast: false
      matrix:
        java: [11, 21]
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3

    - name: Set up GraalVM
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: ${{ matrix.java }}
        distribution: 'graalvm'
        components: 'js'
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - run: mvn -B package -DskipTests=true --file pom.xml

    - uses: actions/upload-artifact@v4
      if: matrix.java == 21
      with:
        path: target

    - uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          target/rsession.jar
          lib/*.jar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}



